<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <div class="form-container">
        <h2>Signup</h2>

        <form action="/signup" method="POST">

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="Enter your name">
            </div>

            <div class="form-group">
                <label for="name">Password:</label>
                <input type="text" id="password" name="password" placeholder="Password">
            </div>
            
            <button type="submit" class="submit-btn">Submit</button>

        </form>
    </div>
</body>
</html>